In [1]:
# سلول 1: ایمپورت کتابخانه‌ها و تنظیمات پایه

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# تنظیمات نمایشی برای نمودارها
%matplotlib inline
sns.set(style="whitegrid")

print("کتابخانه‌ها با موفقیت وارد شدند.")

کتابخانه‌ها با موفقیت وارد شدند.

In [2]:
# سلول 2 (اصلاح شده): بارگذاری دیتاست و نمایش اطلاعات اولیه

# مسیر کامل فایل دیتاست کوچک
dataset_path = "C:/Users/HsH-HsH/weighted_split_criteria/notebooks/datasets/customer_churn_data_preprocessed.csv"

# بارگذاری دیتاست با pandas
df = pd.read_csv(dataset_path)

# نمایش پنج سطر اول دیتاست
print("نمونه‌ای از داده‌ها:")
display(df.head())

# نمایش خلاصه‌ای از اطلاعات دیتاست
print("\nاطلاعات کلی دیتاست:")
df.info()

# نمایش آمار توصیفی خلاصه (میانگین، انحراف معیار و...)
print("\nآمار توصیفی دیتاست:")
display(df.describe())

نمونه‌ای از داده‌ها:

,Age,LastTransaction,Churn,Gender_female,Gender_male,Payment Method_cash,Payment Method_cheque,Payment Method_credit card
0,64.0,98,1,False,True,False,False,True
1,35.0,118,0,False,True,False,True,False
2,25.0,107,1,True,False,False,False,True
3,39.0,90,1,False,True,False,False,True
4,28.0,189,0,True,False,False,True,False

اطلاعات کلی دیتاست:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 896 entries, 0 to 895
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Age                         896 non-null    float64
 1   LastTransaction             896 non-null    int64
 2   Churn                       896 non-null    int64
 3   Gender_female               896 non-null    bool
 4   Gender_male                 896 non-null    bool
 5   Payment Method_cash         896 non-null    bool
 6   Payment Method_cheque       896 non-null    bool
 7   Payment Method_credit card  896 non-null    bool
dtypes: bool(5), float64(1), int64(2)
memory usage: 25.5 KB

آمار توصیفی دیتاست:

              Age  LastTransaction       Churn
count  896.000000       896.000000  896.000000
mean    45.532366       110.754464    0.642857
std     18.905619        44.759793    0.479425
min     17.000000         1.000000    0.000000
25%     30.000000        77.000000    0.000000
50%     43.000000       110.000000    1.000000
75%     58.000000       143.000000    1.000000
max     91.000000       223.000000    1.000000

In [3]:
# سلول 3: جدا کردن ویژگی‌ها و متغیر هدف برای آموزش مدل

# فرض می‌کنیم ستون target، متغیر هدف (برچسب) است
 # متغیر هدف (0 یا 1)
X = df.drop(columns=['Churn'])
y = df['Churn']
print("شکل داده ورودی مدل (X):", X.shape)
print("شکل برچسب‌ها (y):", y.shape)
display(X.head())  # نمایش نمونه‌ای از داده‌های ویژگی
display(y.head())  #

شکل داده ورودی مدل (X): (896, 7)
شکل برچسب‌ها (y): (896,)

,Age,LastTransaction,Gender_female,Gender_male,Payment Method_cash,Payment Method_cheque,Payment Method_credit card
0,64.0,98,False,True,False,False,True
1,35.0,118,False,True,False,True,False
2,25.0,107,True,False,False,False,True
3,39.0,90,False,True,False,False,True
4,28.0,189,True,False,False,True,False

0    1
1    0
2    1
3    1
4    0
Name: Churn, dtype: int64

In [4]:
import sys
sys.path.insert(0, r"C:\Users\HsH-HsH\weighted_split_criteria\src")
print("پوشه src به sys.path اضافه شد.")

پوشه src به sys.path اضافه شد.

In [5]:
from criteria.gini import gini_criterion
from criteria.qg import gain_ratio_criterion
from criteria.twoing import twoing_criterion
from criteria.ng import normalized_gain_criterion
from criteria.mch import multi_class_hellinger
from criteria.marsh import marsh_criterion
from criteria.gs import g_statistic_criterion
from criteria.dkm import dkm_criterion
from criteria.cs import chi_squared_criterion
from criteria.bhy import bhattacharyya_criterion
from criteria.ks import kolmogorov_smirnov_criterion

criteria_with_weights = [
    ("gini", gini_criterion, 0.15),
    ("gain_ratio", gain_ratio_criterion, 0.15),
    ("twoing", twoing_criterion, 0.10),
    ("normalized_gain", normalized_gain_criterion, 0.10),
    ("multi_class_hellinger", multi_class_hellinger, 0.10),
    ("marshall", marsh_criterion, 0.05),
    ("g_statistic", g_statistic_criterion, 0.05),
    ("dkm", dkm_criterion, 0.10),
    ("chi_squared", chi_squared_criterion, 0.05),
    ("bhattacharyya", bhattacharyya_criterion, 0.10),
    ("kolmogorov_smirnov", kolmogorov_smirnov_criterion, 0.05),
]

print("معیارها و وزن‌ها تعریف شدند.")

معیارها و وزن‌ها تعریف شدند.

In [7]:
from weighted_decision_tree import WeightedDecisionTreeModel

ModuleNotFoundError: No module named 'weighted_decision_tree'